@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form_button {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-transform: capitalize;
  outline: 0;
  background-color: #4c90af;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover {
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:active,
.form button:focus {
  background: #3f5870;
}
.title {
  font-family: "Oooh Baby", cursive;
  font-size: 50px;
  font-weight: bold;
  padding: 15px;
  margin: px;
  color: #3a3535;
  text-align: center;
}
