html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ----------- Profile ------------- */
@import url("./profile.css");

/* LAnding */
/* .section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
} */

/* ----------- Footer2 ------------- */
/* @import url("./Footer2.css"); */
@import url("./drop.css");
