.sectionTitle h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: rgb(43, 37, 36);
  text-align: center;
}
.sectionTitle div {
  width: 10rem;
  height: 5px;
  background: #af9a7d;
  margin: 1.7rem auto;
}
/* .roomLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
} */
.imgContainer:hover {
  background: rgba(0, 0, 0, 0.8);
}
.imgContainer:hover img {
  opacity: 0.3;
}
.imgContainer:hover .price-top {
  opacity: 0;
}
.imgContainer:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.btnPrimary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #222;
  background: #af9a7d;
  padding: 0.4rem 0.9rem;
  border: 3px solid #af9a7d;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 43%;
  left: 37%;
}
.btnPrimary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.article {
  display: block;
}

.imgContainer {
  position: relative;
}
.imgContainer img {
  width: 100%;
  height: 204px;
  display: block;
  transition: var(--mainTransition);
}
.roomInfo {
  background: gray;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
.priceTop {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.priceTop h6 {
  margin-bottom: 0;
  /* background-color: hotpink; */
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 3px;
}
.featuredRoomsCenter {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
  .featuredRoomsCenter {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featuredRoomsCenter {
    width: 95vw;
    max-width: 1170px;
  }
}
.featuredRooms {
  padding: 5rem 0;
}

.filterContainer {
  padding: 5rem 0;
}
.filterForm {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.formGroup {
  text-transform: capitalize;
}
.formGroup label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.formControl {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.sizeInputs {
  display: flex;
}
.sizeInput {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.singleExtra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filterForm {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filterForm {
    width: 95vw;
    max-width: 1170px;
  }
}

.singleRoom {
  padding: 5rem 0 0 0;
}
.singleRoomImages {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.singleRoomImages img {
  width: 100%;
  display: block;
  height: 200px;
}
.singleRoomInfo {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.roomExtra {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.roomExtras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .singleRoomImages,
  .singleRoomInfo,
  .roomExtras {
    width: 95vw;
    max-width: 1170px;
  }
  .singleRoomInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
.image {
  min-height: calc(50vh - 80px);
  /* min-height: calc(70vh - 66px); */
  margin-left: auto;
  margin-right: auto;
  background: center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 228, 240);
  width: 70%;
  margin-bottom: 2%;
}


.products{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-content: center;
  margin: 20px 0;
  /* background-color: yellow; */
  height: 500px;
  width: 1000;
  position: relative;
}
/* .products .cardBody{
  position: relative;
  width: 100%;
  height: 300px;
} */
.products nav{
  position: absolute;
  left: 50%;
  top: 20%;}
 .products h5{
  position: absolute;
  top: -10%;
  left: 50%;
  font-size: 41px;
  color: #2c84d1;

}
.products p{
  position: absolute;
  left: 78%;
  top: 3%;
  font-size: 20px;
  color: #2b7ca2;
}
.products img{
  margin: 10px auto;
  
  
}
.imgHeroo {
  position: relative;
  margin-top: 2%;
  margin-right: 300px;
  min-height: calc(80vh - 66px);
  background: center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  position: relative;
  height: 700px;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;}
.img {
  position: absolute;
  min-height: calc(80vh - 66px);
  top: 350px;
  left: 300px;
  /* display: flex; */
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  /* cursor: "pointer"  */
}
.card_text {
  position: absolute;
  top: 50px;
  right: 17%;

  margin-left: 1000px;
  margin: 20px;
  padding: 40px;
  box-sizing: border-box;
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; */
  height: 100px;
}
.data {
  background: #fff8;
  text-align: left;
  font-weight: 400;
  color: rgb(26, 25, 24);
  transition: 0.3 ease-in-out;
  line-height: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40pz;
  font-weight: bold;
  /* text-align: left;
  padding: 1.2rem 0; */
  /* background-image: linear-gradient(120deg, #b3a1ad 0%, #9399a3 100%);
  font-size: 1.3rem;
  color: white; */
  text-transform: capitalize;
  letter-spacing: 2px;
}
.spanTitle {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  position: absolute;
  top: 0;

  line-height: -550px;
}

.book{
  position: absolute;
  top: 15%;
  left: 71%;
  width: 400px
}
.products .cardImgTop{
  height: 350px;
  width: 500px;
  position:absolute;
  top: 5%;
  left: 200px;
}
.products .cardImg1{
  position:absolute;
  top: 80%;
  left: 200px;
}
.products .cardImg2{
  position:absolute;
  top: 80%;
  left: 400px;
}
.products .cardImg3{
  position:absolute;
  top: 80%;
  left: 600px;
}
.products .card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.products .card-text{
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active{
  border-color: orangered;
  padding: 2px;
}